In [14]:
import numpy # linear algebra
import pandas # data processing, CSV file I/O (e.g. pd.read_csv)
import nltk # natural language toolkit
import matplotlib
import matplotlib.pyplot as pyplot # use to plot graphs like MATLAB

from scipy import linalg # using to processing matrix objects
from nltk.corpus import treebank
from tkinter import *
from IPython.display import Image

matplotlib.use('Agg')

nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('maxent_ne_chunker')
nltk.download('words')
nltk.download('treebank')

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

#import os
#for dirname, _, filenames in os.walk('/Reposit√≥rios/GitHub/Personal/Unisinos-TopicosEspeciaisII-PLN-LeituraTextual'):
#    for filename in filenames:
#        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\gabriel.fernandes\AppData\Roaming\nltk_data..
[nltk_data]     .
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\gabriel.fernandes\AppData\Roaming\nltk_data..
[nltk_data]     .
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\gabriel.fernandes\AppData\Roaming\nltk_data..
[nltk_data]     .
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\gabriel.fernandes\AppData\Roaming\nltk_data..
[nltk_data]     .
[nltk_data]   Package words is already up-to-date!
[nltk_data] Downloading package treebank to
[nltk_data]     C:\Users\gabriel.fernandes\AppData\Roaming\nltk_data..
[nltk_data]     .
[nltk_data]   Package treebank is already up-to-date!

True

In [2]:
#Reading the dataset.
data = pandas.read_csv(r'src/new-york-city-airbnb-open-data.csv')

In [3]:
#Exploring the top 5 observations.
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [4]:
# describing the datasets.
# data.describe()

# null or missing values in the dataset.
# data.isnull().sum()

# checking the assumption -> 0 reviews will have missing values in last_review and reviews_per_month columns.
# assumption_test = data.loc[(data.last_review.isnull()) & (data.reviews_per_month.isnull()), ['number_of_reviews',  'last_reviews', 'reviews_per_month']]
# assumption_test.head()

# check the shape of the created dataframe and the number of null values
# assumption_test.shape

# filling the missing values in reviews_per_month with 0.
# data.reviews_per_month.fillna(0, inplace=True)

# Checking if the changes made are reflected.
# data.isnull().sum()

## Exemple of an information extraction architecture 

<img src="src/img/ie-architecture-extraction-information.png" height="600" width="600">

In [22]:
# get one row from data frame and convert to string 
# after, get each word on the phrase

# it's possible use nltk.tokenize.sent_tokenize(text) to split phrases, i.e. A beautifull day. I'll workout. ==> ['A beautifull day.', 'I'll workout.]
# the only problem here is that the function return the dot together, so, maybe after this use a replace function would be necessary

sentence = data.iloc[10]['name']
tokens = nltk.word_tokenize(sentence)
tokens

['Beautiful', '1br', 'on', 'Upper', 'West', 'Side']

In [6]:
# link to understand what means each part-of-speech tag
# https://www.clips.uantwerpen.be/pages/mbsp-tags

tagged = nltk.pos_tag(tokens)
tagged

[('Beautiful', 'JJ'),
 ('1br', 'CD'),
 ('on', 'IN'),
 ('Upper', 'NNP'),
 ('West', 'NNP'),
 ('Side', 'NNP')]

In [7]:
# identify named entities, if it's a person or something different, like a organization
entities = nltk.chunk.ne_chunk(tagged)

In [8]:
print(entities)

(S Beautiful/JJ 1br/CD on/IN (PERSON Upper/NNP West/NNP Side/NNP))

In [9]:
t = treebank.parsed_sents('wsj_0001.mrg')[0]

In [10]:
t.draw()