# Trabalho de Tópicos Especiais II (unisinos 2019/02)
## Uso de Processamento de Linguagem Natural (PLN) para análises de frases positivas e negativas, com o dataset de reviews em hotéis da Europa.

### Trabalho realizado por:
- Franciele Fagundes
- Gabriel Castro
- Matheus Hans
- Savanna Denega

In [1]:
import numpy # linear algebra
import pandas # data processing, CSV file I/O (e.g. pd.read_csv)
import nltk # natural language toolkit
import matplotlib
import matplotlib.pyplot as pyplot # use to plot graphs like MATLAB

from scipy import linalg # using to processing matrix objects
from nltk.corpus import treebank, stopwords
from tkinter import *
from IPython.display import Image

matplotlib.use('Agg')

nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('maxent_ne_chunker')
nltk.download('words')
nltk.download('treebank')
nltk.download('stopwords')

ModuleNotFoundError: No module named 'numpy'

In [2]:
# Reading the dataset.
data = pandas.read_csv(r'src/review_hotel.csv')

NameError: name 'pandas' is not defined

In [3]:
# Exploring the top 5 observations.
data.head()

                                              Review
0   I am so angry that i made this post available...
1   Rooms are nice but for elderly a bit difficul...
2   My room was dirty and I was afraid to walk ba...
3   You When I booked with your company on line y...
4   Backyard of the hotel is total mess shouldn t...

In [16]:
# Exploring the last 5 observations.
data.tail()

                                                Review
338                        Bed was really comfortable
339   Beautiful hotel with views of the park Transp...
340                                        No Positive
341   Large clean rooms with a nice size comfy bed ...
342   Well equipped nice room Traditinal but modern...

## Exemple of an information extraction architecture 

<img src="src/img/ie-architecture-extraction-information.png" height="600" width="600">

In [66]:
sentences_tokens = []

# OBS.: read about stopwords in notes.ipynb
# retiradas as stop words
stop_words = set(stopwords.words('english')) 

for index, row in data.head(2).iterrows():
    sentences_tokens.append(nltk.word_tokenize(row['Review']))

filtered_sentence = []
all_filtered_sentence = []
aux_clone_list = []

for words_sentence in sentences_tokens:
    for word in words_sentence:
        if word not in stop_words:
            filtered_sentence.append(word)
        
    aux_clone_list = list(filtered_sentence)
    filtered_sentence.clear()
    all_filtered_sentence.append(aux_clone_list)

#print(all_filtered_sentence)

In [ ]:
#interessante usar 
# 1) stremming words
# 2) part of speech using pos_tag
# 3) chunking

In [ ]:
#tagged = nltk.pos_tag(tokens)
#tagged

In [7]:
# identify named entities, if it's a person or something different, like a organization
#entities = nltk.chunk.ne_chunk(tagged)

In [ ]:
#print(entities)